Source: versada-sbackupctl
Section: python
Priority: extra
X-Python-Version: 2.7
Maintainer: UAB Versada
Build-Depends: python-all-dev
Standards-Version: 3.9.5

Package: versada-sbackupctl
Architecture: any
Pre-Depends: dpkg (>= 1.16.1), python2.7
Depends: ${python:Depends}, daemontools
Suggests: borgbackup, postgresql-client
Section: python
Priority: optional
Description: Simple Backups for Simple Needs
